.container_base {
   position: relative;
   display: flex;
   align-items: center;
   gap: 5px;
}

.searchInput {
   border-radius: 5px;
   outline: none;
}

.searchInput_base {
   padding-left: 10px;
   width: 150px;
   height: 30px;
}

.resetButton {
   filter: var(--filterColor);
   cursor: pointer;
}

.resetButton_base {
   position: absolute;
   width: 15px;
   right: 5px;
}
