.container {
   position: relative;
   display: flex;
   align-items: center;
   gap: 5px;
}

.container input {
   padding-left: 10px;
   width: 150px;
   height: 30px;
}

.reset {
   position: absolute;
   width: 15px;
   right: 5px;
}
