.container {
   position: relative;
   display: flex;
   align-items: center;
   gap: 5px;
}

.container input {
   padding-left: 10px;
   width: 150px;
   height: 30px;
   border-radius: 5px;
}

.container img {
   filter: invert(34%) sepia(42%) saturate(926%) hue-rotate(203deg)
      brightness(93%) contrast(87%);
   cursor: pointer;
}

.reset {
   position: absolute;
   width: 15px;
   right: 5px;
}
