.cell {
   font-weight: 500;
}

.cell_base {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 110px;
   height: 50px;
   cursor: pointer;
   gap: 8px;
}

.cell_base:hover {
   filter: var(--filterColor);
}

.arrow {
   width: 10px;
}

.inactiveArrow {
   filter: invert(69%) sepia(64%) saturate(3%) hue-rotate(132deg)
      brightness(93%) contrast(91%);
}

.arrowsContainer_base {
   display: flex;
   justify-content: center;
   align-items: center;
}
