.container {
   --color: #5955b3;
   --filterColor: invert(34%) sepia(42%) saturate(926%) hue-rotate(203deg)
      brightness(93%) contrast(87%);

   background-color: #fff;
   border: solid 2px var(--color);
   border-radius: 15px;
}

.container_base {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 20px;
}

.header {
   display: flex;
   justify-content: space-between;
}

.selectContainer {
   display: flex;
   align-items: center;
   gap: 5px;
}

.selectContainer_select {
   padding-left: 5px;
}

.columnsContainer {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.column_item {
   cursor: pointer;
   font-weight: 500;
   gap: 5px;
}

.column_item_arrow {
   width: 10px;
}

.column_item_inactibeArrow {
   filter: invert(69%) sepia(64%) saturate(3%) hue-rotate(132deg)
      brightness(93%) contrast(91%);
}

.column_arrowsContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.noData {
   text-align: center;
}

.rowsContainer {
   border-top: solid 2px;
   border-bottom: solid 2px;
   border-color: var(--color);
   gap: 5px;
}

.rowContainer_base {
   display: flex;
   flex-direction: column;
   padding: 15px 0;
}

.row {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.row:hover {
   background-color: rgba(68, 66, 66, 0.1) !important;
}

.row:nth-child(odd) {
   background-color: rgb(117, 117, 117, 0.1);
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 110px;
   height: 50px;
}

.info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px 0 10px;
   height: 50px;
}

.pagesList {
   display: flex;
   align-items: center;
   gap: 8px;
}

.arrowIcone {
   cursor: pointer;
   width: 30px;
   filter: var(--filterColor);
}

.arrowIcone:hover {
   filter: invert(22%) sepia(14%) saturate(2898%) hue-rotate(205deg)
      brightness(94%) contrast(90%);
}

.pageButton {
   border-radius: 5px;
   padding: 5px 10px;
   font-size: 1.1em;
}

.activePage {
   background-color: var(--color);
   color: #fff;
}

.activeItem {
   background-color: rgba(192, 192, 192, 0.2);
}
