.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 20px;
   background-color: #fff;
   border: solid 2px #5955b3;
   border-radius: 15px;
}

.headerContainer {
   display: flex;
   justify-content: space-between;
}

.selectContainer {
   display: flex;
   align-items: center;
   gap: 5px;
}

.columnsContainer {
   display: flex;
   justify-content: space-between;
   gap: 5px;
   border-bottom: solid 2px #5955b3;
}

.noData {
   text-align: center;
}

.rowsContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.row {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.row:nth-child(odd) {
   background-color: rgb(117, 117, 117, 0.1);
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 50px;
}

.info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px 0 10px;
   height: 50px;
   border-top: solid 2px #6b65d3;
}

.pagesList {
   display: flex;
   align-items: center;
   gap: 8px;
}

.pagesList img {
   cursor: pointer;
   width: 30px;
   filter: invert(34%) sepia(42%) saturate(926%) hue-rotate(203deg)
      brightness(93%) contrast(87%);
}

.pagesList img:hover {
   filter: invert(22%) sepia(14%) saturate(2898%) hue-rotate(205deg)
      brightness(94%) contrast(90%);
}

.pageButton {
   border-radius: 5px;
   padding: 5px 10px;
   font-size: 1.1em;
}

.activePage {
   background-color: #6b65d3;
   color: #fff;
}
