.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.headerContainer {
   display: flex;
   justify-content: space-between;
}

.selectContainer {
   display: flex;
   align-items: center;
   gap: 5px;
}

.columnsContainer {
   display: flex;
   justify-content: space-between;
   gap: 5px;
   border-bottom: solid 2px black;
}

.noData {
   text-align: center;
}

.rowsContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.row {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.row:nth-child(odd) {
   background-color: rgb(117, 117, 117, 0.1);
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 50px;
}

.info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px 0 10px;
   height: 50px;
   border-top: solid 2px black;
}
